*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

input{
    padding:0.5em;
    margin:1rem;

}

label{
    text-align: center;
    justify-content: center;
}

button{
    margin: 1rem;
    padding: 0.7rem;
}