<main>
    <header class="brand-name">
      <img class="brand-logo" src="../../assets/images/logo.png" alt="logo" aria-hidden="true">
      <button type="button" class="main-btn">Logout</button>
      <button type="button" class="main-btn">My Profile</button>
      <button type="button" class="main-btn">Homepage</button>
    </header>
    <hr>
    <section>
        <div class="content-container addbtn">
             <button><a routerLink="['/src/app/home/landlord/add-property/add-property.component.html']" routerLinkActive="router-link-active" >Add new property</a></button>
        </div>
        <!-- (click)="AddPropertyDialog()">"Add new property</button> -->
        <h3>List of your properties</h3>
    </section>
</main>

